<div class='row ps-5 justify-content-center'>
<table class=" table-sm">
<thead>
	<tr>
		<th>Nome</th>
		<th>Descricao</th>

		<th></th>
	</tr>
</thead>
<tbody>

	<form method="POST" action="/menu_download">
		{%csrf_token%}
	{%for object in object_list%}
		{%if object.state == True%}
		<tr>
			<td scope="row">{{object.name}}</td>
			<input name="obj" value = {{object.name}} hidden>
			<td scope="row">{{object.description}}</td>
			<td><a href="{%url 'cardapio_update' object.id%}" class='btn btn-primary'>
				<i class="bi bi-pencil-square"></i>
			</a> 	
			<a href="{%url 'cardapio_delete' object.id%}"class='btn btn-danger'>
				<i class="bi bi-x-circle"></i>
			</a>
			<a title="remover do cardapio" href="{%url 'adicionar_cardapio' object.id%}"class='btn btn-success'>
				<i class="bi bi-arrow-down-up"></i>
			</a>
			</td>
		</tr>
		{%endif%}
	{%endfor%}
		<a><input type="submit" value="Baixar imagem" class= "btn btn-primary"> </input> </a>
		
	</form>
</table>
</tbody>
</div>

