<div class='row ps-5 justify-content-center'>
<table class=" table-sm">
<thead>
	<tr>
		<th>Nome</th>
		<th>Descrição</th>

		<th></th>
	</tr>
</thead>
<tbody>

	<form method="POST" action="/menu_download">
		{%csrf_token%}
	{%for object in object_list%}
		{%if object.state == True%}
		<tr>
			<td scope="row">{{object.name}}</td>
			<input name="obj" value = {{object.name}} hidden>
			<td scope="row">{{object.description}}</td>
			<td><a href="{%url 'cardapio_update' object.id%}" class='btn btn-primary'>
				<i class="bi bi-pencil-square"></i>
			</a> 	
			<a href="{%url 'cardapio_delete' object.id%}"class='btn btn-danger'>
				<i class="bi bi-x-circle"></i>
			</a>
			<a title="remover do cardapio" href="{%url 'adicionar_cardapio' object.id%}"class='btn btn-success'>
				<i class="bi bi-arrow-down-up"></i>
			</a>
			</td>
		</tr>
		{%endif%}
	{%endfor%}
	<div style="display: flex; justify-content: flex-end; gap: 10px;">
		<a href="{%url 'menu_clear'%}" title="Limpa o cardapio" class="btn btn-secondary">Limpar</a>
		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#dateModal">Baixar imagem</button>
	</div>

	</form>
</table>
</tbody>
</div>


<!-- Modal -->
<div class="modal fade" id="dateModal" tabindex="-1" aria-labelledby="dateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="dateModalLabel">Data de publicacao do cardapio</h6>
                <button type="button" class="btn btn-danger ml-auto close" data-dismiss="modal" aria-label="Close" style="position: absolute; right: 1rem;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" action="{% url 'menu_download' %}">
                {% csrf_token %}
                <div class="modal-body">
                    <label for="menuDate">Data:</label>
                    <input type="date" id="menuDate" name="menu_date" class="form-control" required>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Salvar e baixar</button>
                </div>
            </form>
        </div>
    </div>
</div>

