<nav class="navbar navbar-expand-lg bg-body-tertiary p-0">
  <div class="container-fluid p-2 m-0" style="background-color:#8caaee;">
    <a class="navbar-brand" href="#">Sacarolha</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href={%url 'index'%}>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href={%url 'cliente'%}>Clientes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href={%url "funcionario_list"%}>Funcionários</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{%url 'custo_list'%}">Custos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{%url 'cardapio_list'%}">Cardápio</a>
        </li>

      </ul>
    </div>
  </div>
</nav>