<div class='row ps-5 justify-content-center'>
<table class="table table-striped-columns table-sm">
<thead>
	<tr>
		<th>Nome</th>
		<th>Descricao</th>
		<th>Valor</th>
		<th></th>
	</tr>
</thead>
<tbody>
	{%for object in object_list%}
		{%if object.category == "cliente"%}
		<tr>
			<td scope="row">{{object.name}}</td>
			<td scope="row">{{object.description}}</td>
			<td scope="row">{{object.value}}</td>
			<td><a href="{%url 'cliente_update' object.id%}" class='btn btn-primary'>
				<i class="bi bi-pencil-square"></i>
			</a> 	
			<a href="{%url 'cliente_delete' object.id%}"class='btn btn-danger'>
				<i class="bi bi-x-circle"></i>
			</a>
			</td>
		</tr>
		{%endif%}
	{%endfor%}
</tbody>
</table>
</div>