<div class='row ps-5 justify-content-center'>
<table class="table table-striped-columns table-sm">
<thead>
	<tr>
		<th>             <a href="?sort=name&order={% if request.GET.order == 'asc' %}desc{% else %}asc{% endif %}">
			Nome

		</a></th>
		<th>                <a href="?sort=description&order={% if request.GET.order == 'asc' %}desc{% else %}asc{% endif %}">
			Descrição

		</a></th>
		<th>                <a href="?sort=value&order={% if request.GET.order == 'asc' %}desc{% else %}asc{% endif %}">
			Débito
		</a></th>
		<th></th>
	</tr>
</thead>
<tbody>
	{%for object in object_list%}
		{%if object.category == "cliente" and object.state == True%}

		<tr>
			<td scope="row">{{object.name}}</td>
			<td scope="row">{{object.description}}</td>
			<td scope="row">{{object.value}}</td>
			<td><a href="{%url 'cliente_update' object.id%}" class='btn btn-primary'>
				<i class="bi bi-pencil-square"></i>
			</a> 	
			<!--<a href="{%url 'cliente_delete' object.id%}"class='btn btn-danger'> -->
			<a href="{%url 'cliente_softdelete' object.id%}"class='btn btn-danger'>

				<i class="bi bi-x-circle"></i>
			</a>
			<a title = "Alterar debito" href="{%url 'cliente_value_update' object.id%}"class='btn btn-success'>

				<i class="bi bi-plus-slash-minus"></i>
			</a>
			</td>
		</tr>
		{%endif%}
	{%endfor%}
</tbody>
</table>
</div>