{%extends 'base.html'%}

{%block navbar%}
{%include 'navbar.html'%}
{%endblock navbar%}

{%block title%}
Home
{%endblock%}

{%block content%}
<br>
<div>
    <div align="center">
        <h4>Bem-vindo {{request.user}}</h4>
        <h5>{{datestr}}</h5>
        
        <br>
    </div>
        
    <div class="d-flex flex-row mb-3">
        <div class=" m-1 p-1 mx-auto" style="background-color: #7287fd; border-radius: 40px; width: 450px; ">
            {{chart|safe}}
        </div>
        <div class=" m-1 p-1 w-50 mx-auto">
            {{chart2|safe}}
        </div>
    </div>
</div>
    {%endblock content%}