{%extends 'base.html'%} {%block navbar%} {%include 'navbar.html'%}
{%endblock navbar%} {%block title%} Home {%endblock title%} {%block content%}

<br />

<div>
    <div align="center">
        <h4>Bem-vindo {{request.user}}</h4>
        <h5>{{datestr}}</h5>

        <br />
    </div>

    <!-- cards com outras informacoes -->
    <div class="d-flex flex-row mb-3">
        <div
            class="m-1 p-3 mx-auto"
            align="center"
            style="
                background-color: #9ca0b0;
                border-radius: 20px;
                display: inline-block;
                width: 90%;
            "
        >
            <h4>Valor total:</h4>
            {{registrofinanceiro_value}}
        </div>
    </div>

    <div class="d-flex flex-row mb-3">
        <div
            class="m-1 p-3 mx-auto"
            align="center"
            style="
                background-color: #9ca0b0;
                border-radius: 20px;
                display: inline-block;
                width:30%;
            "
        >
            <h4>Clientes</h4>
            <br />
            <p>Valor: {{cliente_value}}</p>

            <p>Ativos: {{total_clientes_card}}</p>

        </div>
        <div
            class="m-1 p-3 mx-auto"
            align="center"
            style="
                background-color: #9ca0b0;
                border-radius: 20px;
                display: inline-block;
                width:30%;

            "
        >
            <h4>Funcionários</h4>
            <br />
            <p>Valor: {{funcionario_value}}</p>


            <p>Ativos: {{total_funcionarios_card}}</p>

        </div>
        <div
            class="m-1 p-3 mx-auto"
            align="center"
            style="
                background-color: #9ca0b0;
                border-radius: 20px;
                display: inline-block;
                width:30%;

            "
        >
            <h4>Custos</h4>
            <br />
            <p>Valor: {{custo_value}}</p>


            <p>Ativos: {{total_custos_card}}</p>
        </div>
    </div>

    <!-- <div>
        <div class="d-flex flex-row mb-3">
            <div
                class="m-1 p-3 mx-auto"
                align="center"
                style="
                    background-color: #9ca0b0;
                    border-radius: 20px;
                    display: inline-block;
                "
            >
                <h4>Clientes Ativos:</h4>
                {{total_clientes_card}}
            </div>
            <div
                class="m-1 p-3 mx-auto"
                align="center"
                style="
                    background-color: #9ca0b0;
                    border-radius: 20px;
                    display: inline-block;
                "
            >
                <h4>Entradas de funcionarios:</h4>
                {{total_funcionarios_card}}
            </div>
            <div
                class="m-1 p-3 mx-auto"
                align="center"
                style="
                    background-color: #9ca0b0;
                    border-radius: 20px;
                    display: inline-block;
                "
            >
                <h4>Entradas de custos:</h4>
                {{total_custos_card}}
            </div>
        </div> -->

        <!-- charts -->
        <div class="d-flex flex-row mb-3">
            <div
                class="m-1 p-1 mx-auto"
                style="
                    background-color: #9ca0b0;
                    border-radius: 40px;
                    width: 50%;
                "
            >
                {{chart_registrofinanceiro|safe}}
            </div>

            <div
                class="m-1 p-1 d-flex justify-content-center align-items-center"
                style="
                    background-color: #9ca0b0;
                    border-radius: 40px;
                    width: 50%;
                "
            >
                <!-- {{trend_chart|safe}} -->
                {{bar_chart|safe}}
            </div>
            <!-- trend_chart -->
        </div>
    </div>
</div>
{%endblock content%}
